@(iMDbTitleContainer: model.IMDbTitleContainer)

<!DOCTYPE html>

@displayTitles(titles: List[model.IMDbTitle]) = {
@for(title <- titles) {
    <li><p>@title.title (id: @title.id)</p>
        Description: @Html(title.description)
    </li>
}
}

<html>
    <head>
        <title>Search for iMDb content</title>
    </head>
    <body>
        <form action="searchGUI">
            iMDb title search: <input type="text" name="query">
            <input type="submit" value="Search">
        </form>

        <ul>
            <h3>Popular matches:</h3>
            @displayTitles(iMDbTitleContainer.title_popular)
            <h3>Exact matches:</h3>
            @displayTitles(iMDbTitleContainer.title_exact)
            <h3>Approximative matches:</h3>
            @displayTitles(iMDbTitleContainer.title_approx)
            <h3>Substring matches:</h3>
            @displayTitles(iMDbTitleContainer.title_substring)
        </ul>
    </body>
</html>

